.history-block {
  position: relative;
  width: 100%;
}

.history-header {
  position: relative;
  float: left;
  margin-left: 20px;
}

.table-row {
  position: relative;
}

.table-row:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.table-row-checked {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
}

.table-container {
  padding: 20px;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.history-column {
  position: relative;
  width: 25%;
  text-align: left;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-left: 1px groove rgba(255, 255, 255, 0.4);
}

.checkbox-column {
  position: relative;
  width: 1%;
  text-align: left;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.table-data {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: left;
  border-bottom: 1px groove rgba(255, 255, 255, 0.4);
  border-left: 1px groove rgba(255, 255, 255, 0.4);
}

.refresh-button {
  position: relative;
  border: 0;
  color: rgb(3, 32, 29);
  text-align: center;
  width: 150px;
  line-height: 30px;
  background: white;
  text-decoration: none;
  float: right;
  right: 20px;
  top: 30px;
  margin-left: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.refresh-button:hover {
  background-color: rgb(120, 224, 210);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.refresh-button:active {
  background-color: rgba(160, 224, 216, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.delete-history-button {
  position: relative;
  border: 0;
  border-radius: 0;
  color: rgb(3, 32, 29);
  text-align: center;
  width: 150px;
  line-height: 30px;
  background: white;
  text-decoration: none;
  float: right;
  right: 20px;
  top: 30px;
  margin-right: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.delete-history-button:hover {
  background-color: rgb(228, 79, 79);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.delete-history-button:active {
  background-color: rgb(255, 120, 120);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

.delete-checkbox {
  cursor: pointer;
}
